frappe-server-connection-details.md
cline.md
React-App-in-Frappe-Complete-Guide.md
The-Commit-Companyfrappe-react-sdk Reac hooks for Frappe.md
.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
